/* Technology */
.selected {
    background-color: rgb(42, 91, 81); /* Change to desired color when selected */
    color: #ffffff; /* Change to desired text color when selected */
  }
  
  .unselected {
    background-color: red; /* Change to desired color when unselected */
    color: #000; /* Change to desired text color when unselected */
  }
  
  .techcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    padding: 0.5rem 0;
  }
  @media screen and (max-width: 800px) {
    .techcontainer {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
  }
  @media screen and (max-width: 600px) {
    .techcontainer {
      display: grid;
      grid-template-columns: repeat(1, auto);
    }
  }
  .techcontainer > * {
    height: 3rem;
  }
  .tech-btn {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .hoverable:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
  }
  
  .svgname {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  
  /* Slider */
  .slider-container {
    width: 100%;
    margin: -10px auto;
    margin-bottom: 10px;
    position: relative;
    /* border: 1px solid rgb(180, 255, 29); */
    margin: 0 0 1rem 0;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    margin: 15px 0;
    position: relative;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #9aa3a1;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    left: -3px;
    z-index: 1;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #125515;
  }
  .radioContainer {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
  }
  
  .ruler {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .ruler span {
    position: relative;
  }
  
  .ruler span::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 5px;
    background: #000;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .bold {
    font-weight: bold;
  }
  
  .indicator-box {
    position: absolute;
    top: -50%;
    left: -20%;
    width: 20px;
    height: 20px;
    background-color: #15a51a;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    border: 1px solid red;
  }
  
  .slider-container:hover .indicator-box {
    opacity: 1;
  }
  
  .buttonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: white;
  }
  .seniority {
    display: none;
  }
  
  .labelbtn {
    border-radius: 5px;
    text-align: center;
    padding: 7px 5px;
  }
  .seniority:checked + label {
    background-color: rgb(42, 91, 81);
    color: rgba(255, 255, 255, 0.986);
  }
  
  .slider {
    display: flex;
    flex-direction: column;
  }
  
  /* Budget */
  .money {
    display: grid;
    border: 1px solid #000000;
    width: 100%;
    border-radius: 4px;
    grid-template-columns: auto 1fr auto;
    background-color: white;
  }
  
  .ip {
    outline: none;
    border: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  
  .bud {
    border: none;
    margin-top: 20px;
    margin-right: 10px;
  }
  input:focus {
    outline: none;
  }
  
  .investbox {
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem 0 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-gap: 1rem;
  }
  
  .investbox > div > h3 {
    font-weight: 100;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
  }
  
  .investbox > div > p {
    font-weight: 700;
    font-size: 1.25rem;
  }
  
  .ted {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  
  .euro {
    padding: 10px 15px;
  }
  .subbud {
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    padding: 10px 5px;
  }
  .involve {
    display: flex;
    justify-content: space-around;
    vertical-align: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
  }
  .radiobtn {
    display: none;
  }
  
  .btns {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(224, 224, 224, 0);
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    text-align: center;
  }
  .radiobtn:checked + label {
    background-color: rgb(42, 91, 81);
    color: white;
  }
  
  .bud > label > div {
    margin-bottom: 0.4rem;
  }
  
  /* Button */
  .btn {
    padding: 15px;
    background-color: rgb(42, 91, 81);
    border: none;
    color: white;
    border-radius: 20px;
  
    float: right;
  }
  
  .btn:hover {
    background-color: rgb(61, 117, 106);
  }
  
  .btn {
    width: 50%;
  }
  
  /* App */
  .App {
    font-family: sans-serif;
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    /* height: 70rem; */
  }
  @media screen and (max-width: 800px) {
    .App {
      width: 90%;
    }
  }
  @media screen and (max-width: 600px) {
    .App {
      width: 95%;
    }
  }
  
  body {
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
  }
  
  /* navbar */
  .indpro {
    float: left;
    position: absolute;
    margin: 30px;
  }
  .indpro_bg {
    position: static;
  }
  .left_bg {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
  }
  .logoonnav {
    z-index: -1;
    position: absolute;
    top: 0%;
    width: 100%;
  }
  